<div class="mt-4">

<span>đăng nhạc</span>

    <form method="post" action="/listmusics/storemusic">
            <div class="form-floating mb-3">
                 <input name="name" type="text" class="form-control" id="name" placeholder="Leave a comment here">
                <label for="name">Name (Tên Bài Hát)</label>
            </div>
            <div class="form-floating mb-3">
                <input name="description" type="text" class="form-control" id="description" placeholder="Leave a comment here">
                <label for="description">Description (Miêu Tả Về Bài Hát) </label>
            </div>
            <div class="form-floating mb-3">
                <input name="video" type="text" class="form-control" id="video" placeholder="Leave a comment here">
                <label for="video">Video (Link Video)</label>
            </div>
            <div class="form-floating mb-3">
                <input name="level" type="text" class="form-control" id="level" placeholder="Leave a comment here">
                <label for="level">Evaluate (Đánh Gía)</label>
            </div>
            
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>